
@{
    ViewData["Title"] = "Admin Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-home"></i>
            </span> Trang chủ
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card">
        <div class="card-body" style="text-align:left">
            <h5 class="card-title" style="color: black; text-align:center">QUY TẮC QUẢN TRỊ WEBSITE</h5>
            <div class="col-md-11">
                <h6>1. BẢO MẬT VÀ GIÁM SÁT</h6>
                <h6>2. SAO LƯU CƠ SỞ DỮ LIỆU WEBSITE</h6>
                <h6>3. XÂY DỰNG – CẬP NHẬT NỘI DUNG</h6>
                <h6>4. THEO DÕI, ĐÁNH GIÁ VÀ PHÂN TÍCH SỐ LIỆU</h6>
                <h6>5. LÊN KẾ HOẠCH QUẢN TRỊ WEBSITE</h6>
            </div>
        </div>
    </div>
</div>


