<link href="~/Adminassets/css/style.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Adminassets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Adminassets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Adminassets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Adminassets/images/favicon.ico" />
</head>
<body>
    @RenderBody()
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Adminassets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Adminassets/js/off-canvas.js"></script>
    <script src="~/Adminassets/js/hoverable-collapse.js"></script>
    <script src="~/Adminassets/js/misc.js"></script>
    <!-- endinject -->
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>