@model WebBanQuanAo.Models.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="mdi mdi-home" style='color:blueviolet'></i></a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" style='color:blueviolet'>Quyền truy cập</a>
                <span class="breadcrumb-item active">Tạo mới quyền truy cập</span>
            </nav>
        </div>
    </div>
    <div class="page-header">
        <div class="col-lg-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title" style="color: black; text-align: center">Tạo mới quyền truy cập</h4>
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="RoleName" class="control-label">Tên quyền truy cập</label>
                                    <input asp-for="RoleName" class="form-control" placeholder="Nhập tên quyền truy cập" required />
                                    <span asp-validation-for="RoleName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label">Mô tả</label>
                                    <input asp-for="Description" class="form-control" placeholder="Nhập mô tả" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="text-align:center">
                                    <div class="template-demo mt-2">
                                        <button type="submit" class="btn btn-outline-primary btn-icon-text">
                                            <i class="mdi mdi-folder-plus btn-icon-prepend"></i> Tạo mới
                                        </button>                            
                                    </div>
                                </div>                             
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
