 <!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/ANH-4-5.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Oysters</b> SPORT</h1>

                            <p>
                                Dòng sản phẩm thể thao với chất liệu và thiết kế mới cùng nhiều tính năng tuyệt vời giúp bạn tận hưởng sự thoải mái và tự tin trong mọi hoạt động thể chất.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/decor-goc-chup-anh-cho-shop-quan-ao-1.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Xuân Hè 2023</h1>

                            <p>
                                Với triết lí “thời trang cho tất cả mọi người”, bộ sưu tập mới của Oysters Shop sẽ mang đến cho bạn sự thoải mái, dễ chịu và thanh lịch cho dù bạn là ai, ở bất kì độ tuổi nào, trong hoàn cảnh nào. Bảng màu đa dạng cùng chất liệu thân thiện với môi trường không chỉ khơi nguồn cảm hứng mà còn bảo vệ sức khoẻ của bạn và người thân trong mọi hoạt động hàng ngày.
                                Mùa hè này, hãy để Oysters Shop đồng hành cùng bạn!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="~/assets/img/Baby-Solid-Knitted-Style-Long-sleeve-Romper-800x800.jpg" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Vải NANO</h1>

                            <p>
                                Chất liệu mềm mại cùng thiết kế mới mang đến nét lịch lãm cho trang phục công sở.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Thời trang mang tên Oysters Shop</h1>
            <p>
                Nơi bắt nguồn của những cảm hứng thời trang!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/assets/img/mockup-ao-thun-2.png" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Áo thun</h5>
            <p class="text-center"><a class="btn btn-success" href="shop.html">Đi mua sắm</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/assets/img/somi.png" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Sơ mi</h2>
            <p class="text-center"><a class="btn btn-success" href="shop.html">Đi mua sắm</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="~/assets/img/quan-jeans.png" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Quần jean</h2>
            <p class="text-center"><a class="btn btn-success" href="shop.html">Đi mua sắm</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->

<!-- End Featured Product -->
