
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Areas/Admin/Views/Shared/_layoutlogin.cshtml";
}
<div class="page-header">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <h2 style="color:red">Cấm truy cập</h2>
                <h5 style="color:red">Bạn không được phép truy cập vào tài nguyên đã yêu cầu.</h5>
            </div>
        </div>
        </div>
    </div>
